        body {
            font-size: 25px;
            text-align: center;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(135deg, #6a11cb, #2575fc);
        }

        button {
            background-color: yellow;
            border: 2px solid black;
            border-radius: 10px;
            padding: 10px 20px;
            font-size: 20px;
            cursor: pointer;
            margin: 10px;
        }

        button:hover {
            background-color: orange;
            scale: 1.05;
            box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
            transition: 0.3s;
        }

        .conteiner {
            background-color: white;
            padding: 20px;
            border-radius: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            height: 500px;
            width: 550px;
        }

        #texto {
            margin-top: 20px;
            color: #333;
        }

        .botoes-container {
            display: none;
            margin-top: 20px;
        }

        footer {
            display: flex;
            margin-top: 20px;
            font-size: 15px;
            border: 1px solid black;
            background-color: lightgray;
            border-radius: 15px;
            position: absolute;
            top: 550px;
            right: 612px;
        }

        img {
            margin-top: 20px;
            border-radius: 15px;
            width: 300px;
            height: auto;
            box-shadow: 5px 5px 9px black;
            position: absolute;
            top: 300px;
            right: 612px;
        }

        img:hover {
            scale: 1.05;
            box-shadow: 10px 10px 9px rgb(0, 0, 0);
            transition: 0.3s;
        }

        #botaoInicial {
            position: absolute;
            top: 175px;
            right: 680px;
        }

        a:hover {
            scale: 1.05;
            text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.3);
            transition: 0.3s;
            color: red;
        }

        @keyframes identifier {
            0% {
                transform: scale(1.1);
                background-color: yellow;
                wait: 1.5s;
            }

            50% {
                transform: scale(1.1);
                background-color: orange;
                wait: 1.5s;
            }

            100% {
                transform: scale(1.1);
                background-color: rgb(255, 0, 0);
                wait: 1.5s;
            }
        }

        button:hover {
            animation: identifier 0.5s infinite;
        }

        #videoNey {
            display: none;
            margin-top: 20px;
            border-radius: 15px;
            box-shadow: 5px 5px 9px lightgray;
            position: absolute;
            right: 39.5vw;
            bottom: 15vw;
        }

        #videoPolicia {
            display: none;
            margin-top: 20px;
            border-radius: 15px;
            box-shadow: 5px 5px 9px lightgray;
            position: absolute;
            right: 39.5vw;
            bottom: 15vw;
        }

